{% load mezzanine_tags %}


{% if not flatblock.login_required or flatblock.login_required and user.is_authenticated %}
<div class="flatblock block-{{ flatblock.slug }}">
    {% if flatblock.title and flatblock.show_title %}
    {% editable flatblock.title %}
    <h2 class="title">{{ flatblock.title }}</h2>
    {% endeditable %}
    {% endif %}
    {% block block_content %}
    {% editable flatblock.content %}
    <div class="content">{{ flatblock.content|richtext_filters|safe }}</div>
    {% endeditable %}
    {% endblock %}
</div>
{% endif %}